<div class="row">
{% for content in entry.contents %}
  {% if content.name == "Image" and content.value %}
  <div class="col-xs-3 cl-sm-3 col-md-3 cv-profile-pic">
      {%- if content.value %}
        {%- assign profile_image_path = content.value | prepend: 'assets/img/' -%}
        {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
        {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
        {% include figure.html
          path = profile_image_path
          class = profile_image_class
          sizes = sizes
          alt = profile.image 
        %}
      {% endif -%}
  </div>
  {% endif %}
{% endfor %}

<div class="col-xs-9 cl-sm-9 col-md-9 mt-2 mt-md-0">
<table class="table table-cv table-sm table-borderless table-responsive">
  {% assign skip_basics = "Image,Profiles,Location" | split:"," %}
  {% for content in entry.contents %}
    {% if (content.value == "") or (skip_basics contains content.name) %}
      {% continue %}
    {% endif %}
      <tr>
        <td class="p-1 pr-2 font-weight-bold"><b>{{ content.name }}</b></td>
        {% if content.value %}
        <td class="p-1 pl-2 font-weight-light text">{{ content.value }}</td>
        {% endif %}
        {% if content.links %}
        <td class="p-1 pl-2 font-weight-light text">
          <div class="container-pdf">
          {% for item in content.links %}
              {% if item.link %}
                <div class="container-link-button">
                  {% if item.name %}
                    <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">{{ item.name}}</a>
                  {% else %}
                    <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">doc</a>
                  {% endif %}
                </div>
              {% endif %}
          {% endfor %}
          </div>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
</table>
</div>
</div>